.select2-selection,
textarea,
input[class='select2-search__field'] {
    border-radius: 0px !important;
}

.select2{
    width:200px !important;
}

.red{
    background-color: rgb(168, 50, 45);
    height: 8%;
}

.admin-top{
    background-color: #b5525c;
    height: 8%;
}

.less-red{
    background-color: rgb(192, 50, 39);
}

.form-control{
    padding-top: 0px;
    padding-bottom: 0px;
}
#dashboard .less-red label{
    color: white;
    text-align: center;
}

#dashboard .menu label{
    color: black;
    text-align: center;
    font-weight: bold;

}


.icon{
    border-style:solid;
}

.top_menu{
    width:6em;
    padding: 1.5em;
}

.main_menu{
    width:6.25em;
    height:6.25em;
    padding:0.5em;
    border-style:solid;
    border-color:grey;
    border-width:1px;
    border-radius:15px;
}

.payment p{
    color:black;
}

.payment a{
    text-decoration: none;
}
.payment_menu{
    width:10em;
    padding:0.5em;
    border-style:solid;
    border-color:grey;
    border-width:1px;
    border-radius:15px;
}

.title{
    background-color: rgb(168, 50, 45);
    text-align: center;
    margin: 0.5em;
    margin-bottom: 3em;
    border-radius: 1em;
}

.title p{
    font-weight: bolder;
    font-size: x-large;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 1em;
    color: white;
}

.product{
    border: solid 1px;
    border-color: gray;
    border-radius: 1.5em;
    -webkit-box-shadow: 10px 13px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 24px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 24px -10px rgba(0,0,0,0.75);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.product p{
    font-size:12px;
    padding-top: 1em;
    color: rgb(168, 50, 45);
    font-weight:bold;
}
.img-total-beginner,
.img-little-ripper,
.img-experience{
    height: 10em;
}

#little-ripper,
#total-beginner,
#experience{
    padding-right: 0%;
}

.divider{
    border-right: 2px dotted rgb(97, 87, 87);
}

.fa-star,
.fa-star-half{
    color: gold;
}

.fa-envelope{
    color:green;
}

.fa-phone{
    color:blue;
}
.fa-times{
    color: maroon;
}

.fa-grip-lines{
    color: grey;
}

.fa-arrow-left{
    color: black;
}

.fa-dot-circle{
    color:orange;
}

.fa-snowboarding{
    color:blue;
}

.fa-money-check-alt{
    color:green;
}
#wrapper{
    min-height: 200px;
    max-height: 500px;
}
#maps{
    height: 225px;
    background-color: gray;
}

#droppable{
    height: 50px;
    background-color: white;
}

.white{
    color: white;
}

.less-red .col-3{
    text-align: center;
}

#draggable{
    margin-top: 0px;
}

.behind{
    z-index: -10;
}

.front{
    z-index: 5;
}

.mt-c-btn-buy-now {
    color: #FFFFFF;
    background: #CF2222;
    padding: 12px 24px;
    border-radius: 0px;
}

.mt-c-btn-buy-now:hover {
    color: #000000;
    background: #FFFFFF;
}

#exampleModal{
    padding-top: 5%;
}

#map{
    height:100%;
}

.fixed-bottom{
    margin-bottom: 10%;
}

.gray{
    background-color:#dddddd;
  }
#app{
    display:block;
}

.sidepanel {
  height: 100%; /* Specify a height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: -200px;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

#mySidepanel.active{
    left:0;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  height: 100%;
  background-color: rgb(168, 50, 45);
  padding: 10px 15px;
  border: none;
  opacity: 0%;
}

.openbtn:hover {
  background-color: #444;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}


.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f07b";
    font-weight:900;
    font-family: 'Font Awesome 5 Free';
    color: #757575;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}